@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat:wght@500&family=Comfortaa:wght@500&family=Dancing+Script&family=Fascinate&family=Fuzzy+Bubbles&family=Klee+One&family=Lobster&family=Pacifico&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&family=Ubuntu&display=swap');

:root{
	--main-accent-color:lightseagreen ;
	--main-background-color:#eee;
	--nav-fg-color: #333;
	--nav-text-shadow:cyan;
	--footer-bg-color:#222;
	--footer-fg-color:white;
	--primary-font:Roboto Condensed;
	--secondary-font:Klee One;
}

.body-section{
	background-color: var(--main-background-color);
	min-height: 80vh;
}

p,label,.searchbar{
	font-family: var(--secondary-font);
	font-size: 13px;
}
h2,h3,h4,h5,h6,li,a{
	font-family: var(--primary-font);
}

.searchbar{
	position:absolute;
	top:60vh;
	width:100%;
	height:10vh;
	background: rgb(0,0,0,0);
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 5px black;
}

.searchbar form{
	width: 30%;
	min-width: 20rem;
}

.searchbar input{
	background: rgb(255,255,255,0.8);
}

ul{
  list-style-type: "👤";
}

ul li label{
	font-size: 14px;
}

.brand-name{
	color:var(--nav-fg-color);
	letter-spacing: 1px;
}

#homepage-image{
	width: 100%; 
	height: 65vh;
}

.navbar{
	background: white;
	box-shadow: 2px 2px 10px grey;
}

.nav-item a{
	color:black;
	letter-spacing: 1px;
}

.nav-link:hover,.nav-item a:hover{
	transition:all 0.2s ease;
	color: lightseagreen;
	text-decoration: underline 5px;
	text-underline-position: under;
	text-underline-offset: 25px;
}

.scrollmenu {
  padding:5px 0px;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px;
  text-decoration: none;
}

.card-body a label{
	margin-left: 5px;
	font-size: 18px;
	font-weight: bold;
}

.card-body a label:hover{
	cursor:pointer;
	opacity:0.7;
	transition:all 0.3s ease;
}
.btn-category:hover{
	transform: scale(0.95);
	transition:all 0.3s ease;
}

input[type="submit"]{
	background:var(--main-accent-color);
	color:white;
	padding:8px;
	border-radius: 5px;
	border:0
}

input[type="submit"]:hover{
	opacity: 0.7;
	transition:all 0.3s ease;
}

.like-btn:hover{
	opacity: 0.7;
	transition:all 0.3s ease;
}
.delete-comment-icon:hover{
	opacity: 0.5;
	transform: scale(0.9);
	transition:all 0.3s ease;
	cursor: pointer;
}
.my-card-item:hover{
	box-shadow:2px 2px 5px gray;
}

.custom-link{
	text-decoration: none;
	color: grey;
}
.custom-link:hover{
	color:lightseagreen;
	transition:all 0.3s ease;
	text-decoration: underline;
}

footer {
  background: var(--footer-bg-color);
  position: relative;
  text-align: center;
  padding: 20px 5px;
}

footer label {
  color: var(--footer-fg-color);
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul a {
  text-decoration: none;
  color: whitesmoke;
  margin: 0px 8px;
  padding: 4px 12px;
  transition: 0.2s;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  background:black;
}

footer ul a:hover {
  transform: scale(1.08);
  color: white;
}

@media screen and (max-width: 800px) {
	#homepage-image{
		height: 30vh;
	}	
	.searchbar{
		top:28vh;
	}
}