<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base :: header}"></head>

<body>
	<div th:insert="~{base :: navbar}"></div>
	<div th:insert="~{base :: modal}"></div>
	
	 <div class="container-fluid p-4 body-section" >
		<div class="d-flex justify-content-end" th:fragment="navigation-options">
			<span sec:authorize="isAuthenticated()">
				<a th:href="@{'/posts/new'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-plus-circle"></i> Create New</button></a>
				<a th:href="@{'/'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-home"></i> Home</button></a>
				<a th:href="@{'/adminlogin'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-user-circle"></i> Admin login</button></a>
				<a th:href="@{'/logout'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-sign-out"></i> Logout</button></a>
			</span>
			<span sec:authorize="isAnonymous()">
				<a th:href="@{'/'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-home"></i> Home</button></a>
				<a th:href="@{'/login'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-sign-in"></i> Login</button></a>
				<a th:href="@{'/register'}"><button class="btn btn-outline-light border-0 btn-sm"><i class="fa fa-user-plus"></i> Register</button></a>
			</span>
		</div>
		
		<div class="my-3 d-flex justify-content-start">
			<span class="badge bg-light text-dark ms-5 me-2"><label id="date-time" ></label></span>
			<span sec:authorize="isAuthenticated()" class="badge bg-light text-dark"><i class="fa fa-user "></i> <label sec:authentication="principal.username"></label></span>
			<span sec:authorize="isAnonymous()" class="badge bg-light text-dark"><label><i class="fa fa-warning"></i> Not registered yet!</label></span>
		</div>
		
		<div class="container-fluid d-flex justify-content-center px-5 py-3">
			<form action="#" th:action="@{/posts/search}" style="width:50rem" class="d-flex bg-dark">
				<input class="form-control me-0 rounded-0  px-3" type="search" name="keyword" placeholder="Search post by keywords.." required>
				<button class="btn btn-dark text-light rounded-0 px-2" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
		</div>
		
	 	<div class="container-fluid px-5">
	 		<div th:if="${userProfile==null}" >
	 			<h4>Categories</h4>
	 			<hr class="hr">	
	 			<div class="scrollmenu">
				<span th:each="category : ${categories}" class="category">
					<a th:href="@{'/posts/category/'+${category.id}}" class="text-decoration-none" >
						<button class="btn btn-dark m-0 btn-category" th:text="${category.categoryName.toUpperCase()}"></button> 
					</a>
				</span>
				</div>
				<br>
				<h4>Blog Posts</h4>
				<hr class="hr">
			</div>
			
			
			<div th:if="${userProfile!=null}" class="text-secondary text-center" >
				<div class="d-flex justify-content-center my-4">
					<div class="card border-0 p-1 mb-5 me-2 rounded" style="width: 10rem;height:10rem">
					  <img th:src="'/posts/image/'+${userProfile.profilePicture}" class="card-img-top border-dark rounded" alt="..." style="height:100%;width:100%">
					</div>
					<div class="card border-0 mb-5 rounded" style="width: 15em;height:10rem">
					  <div class="card-body">
					    <h5 th:text="${userProfile.firstName}+' '+${userProfile.lastName}">Card title</h5>
					    <label class="card-text text-custom-color" th:text="${userProfile.email}"></label>
					    <label class="card-text text-custom-color" th:text="'Total Posts : '+${userProfile.posts.size()}"></label>
					    <label class="card-text text-custom-color" th:text="'Total Comments : '+${userProfile.comments.size()}"></label>
					  </div>
					</div>
				</div>
			</div>	
		</div>
		
		<div class="row justify-content-center">
			<h4 th:if="${userProfile!=null}" class="text-left px-5">Posts shared by <span th:text="${userProfile.firstName}+' '+${userProfile.lastName}"></span>
				<hr class="hr"> 
			</h4>
			<div class="card my-2 mx-2 border-0 shadow p-3 mb-3 rounded" style="width: 25rem" th:each="post : ${posts}">
				<div class="card-body">
					<div class="d-flex justify-content-between">
						<a th:href="@{'/posts/profile/'+${post.user.id}}" class="text-decoration-none link-bold">
							<img alt="" th:src="'/posts/image/'+${post.user.profilePicture}" class="rounded-circle" style="width:2rem;height:2rem">
							<label th:text="${post.user.firstName}+' '+${post.user.lastName}" class="text-custom-color"></label>
						</a>
						<div class="dropdown" th:fragment="dropdown-menu">
						  <button class="btn btn-light border-0 rounded-2 text-dark" data-bs-toggle="dropdown" aria-expanded="false">
						  	<b>⋮</b>
						  </button>
						  <ul class="dropdown-menu">
						    <li><a class="dropdown-item" th:href="@{'/posts/'+${post.id}}">View Post</a></li>
						    
						    <span sec:authorize="isAuthenticated()">
							    <li th:if="${#authentication.getPrincipal().getUsername()==post.user.email}">
							    	<a class="dropdown-item" th:href="@{'/posts/edit/'+${post.id}}">Edit Post</a>
							    </li>
							    
							    <li th:if="${#authentication.getPrincipal().getUsername()==post.user.email}"  >
							    	<a class="dropdown-item" href="#" data-bs-toggle="modal"
							     	data-bs-target="#exampleModal" onclick="confirmDelete(this)" th:name="'/posts/delete/'+${post.id}">
							     	Delete Post
							     	</a>
							    </li>
						    </span>
						  </ul>
						</div>
					</div><hr>
					<h5 class="card-title" th:text="${post.title}"></h5>
				</div>
				<img th:src="'/posts/image/'+${post.imageName}">
				<div class="card-body mb-0">
					<p class="card-text" th:text="${post.body}"></p><hr>
				</div>
				<div class="mb-3 mx-1 d-flex justify-content-between">
					<span class="badge bg-light text-dark" th:text="'🎯 '+${#temporals.format(post.createdAt, 'dd-MMM-yyyy')}"></span>
					<span class="badge bg-light text-dark">Like(s): 
						<label class="like-count" th:text="${post.likes.size()}"></label>
					</span>
					<span class="badge bg-light text-dark" th:text="'Comment(s) : '+${post.comments.size}"></span>
				</div>
				<button th:if="${likedPostsByUser!=null}" class="btn like-btn" th:name="${#authentication.getPrincipal().getUsername()}+'/'+${post.id}+'/'+${likedPostsByUser.contains(post.id)}"
				 	onclick="reactpost(this)">Like this post <i class="fa fa-thumbs-up"></i>
				</button>
			</div>
			<div th:if="${posts.size()==0}" class="text-center text-danger"><img alt="" src="https://www.excess2sell.com/images/product-error2.png"
			style="width: 25rem"></div>
		</div>
		
		<div class="container d-flex justify-content-center" th:if="${pagination}">
		  <ul class="pagination">
		    <li class="page-item " th:if="${pageNo > 0}">
		      <a class="page-link" th:href="@{'/page/'+${pageNo-1}}">Previous</a>
		    </li>
		    
		    <li class="page-item disabled" th:if="${pageNo==0}">
		      <a class="page-link" href="#">Previous</a>
		    </li>
		    
		    <span th:each="i:${#numbers.sequence(1,totalPages)}">
				<li class="page-item">
					<a class="page-link rounded-0" th:href="@{'/page/'+${i-1}}" th:text="${i}"></a>
				</li>
			</span>
		    				
		    <li class="page-item" th:if="${isLast==false}">
		      <a class="page-link" th:href="@{'/page/'+${pageNo+1}}">Next</a>
		    </li>
		    
		    <li class="page-item disabled" th:if="${isLast==true}">
		      <a class="page-link" href="#">Next</a>
		    </li>
		  </ul>
		</div>
	</div>
	<div th:insert="~{base :: footer}"></div>
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>